/* === HEADER === */
.site-header .btn-exit {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* === MAIN CONTAINER === */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* === FORGOT CONTAINER === */
.forgot-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 500px;
}

.forgot-container h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.forgot-text {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #8e6f53;
}
.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
}

.send-btn {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.back-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
