/* === MAIN CONTAINER === */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* === ORDER CONTAINER === */
.order-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 500px;
}

.order-container h2 {
  font-family: Gelasio, Arial, sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.order-text h3 {
  font-family: Gelasio, Arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 40px;
  color: #000;
}

.order-text {
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #8e6f53;
}
.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
}

.track-btn {
  width: 100%;
  padding: 10px;
}
